@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0, 0.9);
    background-blend-mode: overlay;
}

* {
    margin: 0;
    padding: 0;
}

/* header section styles start here */
.header-main {
    max-width: 100%;
    height: 715px;
    background-color: rgb(0, 0, 0, 0.9);
    background-blend-mode: overlay;

}

/* navber styles start here */
.nav-container {
    max-width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

.nav-heading {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 800;
}

.nav-box {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 0px 20px 0px 5px;
}

.right-nav {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: center;
}

.btn-nav {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
}

.link-nav {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.menu-bar {
    display: none;
}



/* navber styles end here */

.banner-container {
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.banner-heading {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.5rem;
    font-weight: 900;
}

.banner-font {
    font-family: "Playwrite HR", cursive;
}

.banner-para {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.primary-btn {
    margin-top: 30px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 15px 30px;
    color: white;
    font-size: 1rem;
    border: none;
}

.secondary-btn {
    border-radius: 42px;
    background-color: black;
    padding: 15px 30px;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    margin-left: 20px;
}

.right-banner img {
    width: 349px;

}

.circle {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    position: absolute;
    top: 520px;
    right: 420px;
    border-radius: 10px;
    background: rgba(48, 48, 48, 0.54);
    border: none;


}

.banner-circle h4,
.another-circle h4 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
}

.banner-circle p,
.another-circle p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.another-circle {
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    position: absolute;
    top: 230px;
    right: 130px;
    border-radius: 10px;
    background: rgba(48, 48, 48, 0.54);
    border: none;
}

/* header section styles end here */

/* change your habits section styles strat here */
.main-change {

    background-color: rgb(0, 0, 0, 0.9);
    background-blend-mode: overlay;

}

.change-container {
    max-width: 80%;
    margin: 0 auto;
    height: 450px;

}

.change-container h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4rem;
    font-weight: 900;
    padding-top: 50px;
    text-align: center;

}

.change-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.card-change {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.first-change {
    width: 280px;
    height: auto;
}


.first-change img {
    width: 140px;
    height: 140px;
    border: 1px solid white;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.first-change h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.first-change p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

/* change your habits section styles end here */

/* run container styles start here */

.run-container {
    max-width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    background-blend-mode: overlay;
    padding-top: 30px;

}

.middle-run {
    max-width: 80%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
}

.left-run h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4rem;
    font-weight: 900;
}

.left-run p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.left-run button {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 15px 30px;
    color: white;
    margin-top: 20px;
    border: none;
}

.right-run img {
    /* width: 366px; */
    width: 100%;
    height: 312px;
    object-fit: cover;
    border-radius: 15px;
}

/* run container styles end here */


/* bmi calculator styles start here */
.bmi-container {
    max-width: 100%;
    background-color: rgb(34, 34, 34);
    background-blend-mode: overlay;
    padding-top: 30px;
    height: 487px;
    display: flex;
    margin-top: 30px;

}

.bmi-left {
    width: 50%;
    margin-left: 150px;
    margin-top: 30px;


}

.calculator-head {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;

}

.basic-table {
    border-collapse: collapse;
}

.basic-table td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.5);
}

.basic-table th {
    text-align: left;
    color:whitesmoke;
}

.bmi-right {
    width: 50%;
    margin-left: 150px;
    margin-top: 30px;
}

.bmi-right h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.bmi-right p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.first-select input {
    padding: 10px 20px 10px 5px;
    border: none;
    border-radius: 8px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    /* color: whitesmoke; */
    font-size: 1rem;
    margin-top: 20px;

}

.first-main {
    margin-left: 10px;
}

.first-select ::placeholder {
    color: white;
}

.second-select input {
    padding: 10px 20px 10px 5px;
    border: none;
    border-radius: 8px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    /* color: whitesmoke; */
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-select ::placeholder {
    color: white;
}

.second-select select {
    padding: 10px 140px 10px 5px;
    border: none;
    border-radius: 8px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    /* color: whitesmoke; */
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.last-select select {
    padding: 10px 260px 10px 5px;
    border-radius: 8px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    /* color: whitesmoke; */
    font-size: 1rem;

    border: none;
}

.bmi-btn {
    margin-top: 30px;
    padding: 16px 50px 16px 50px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 1rem;
}


/* bmi calculator styles end here */


/* responsive for mobile device */
@media screen and (max-width:576px) {
    .nav-box {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    /* banner section reponsive here */
    .header-main {
        height: auto;
    }

    .banner-container {
        flex-direction: column;
        max-width: 100%;
    }

    .right-banner img {
        width: 100%;

    }

    .banner-heading {
        font-size: 2rem;
        /* margin-left: 20px; */
        text-align: center;
    }

    .banner-para {
        text-align: center;
    }

    .primary-btn,
    .secondary-btn {
        padding: 10px 20px;
        margin-left: 50px;
    }

    .secondary-btn {
        margin-left: 10px;
        margin-top: 10px;
    }

    .circle {
        max-width: 50%;
        top: 800px;
        right: 150px;
    }

    .another-circle {
        max-width: 50%;
        top: 550px;
        right: 30px;
    }

    /* change your habit section responsive here */

    .card-change {
        grid-template-columns: repeat(1, 1fr);
    }

    .change-container {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* run container responsive start here */
    .middle-run {
        flex-direction: column;
        max-width: 80%;
        height: auto;

    }

    .left-run {
        text-align: center;
        margin-bottom: 30px;
    }

    /* bmi calculator responsive start here */
    .bmi-container {
      flex-direction: column;
      height: auto;
    
    }
    .bmi-left {
        width: 100%;
        margin-top: 30px;
        margin-left: 5px;
    }
    .bmi-right {
        width: 100%;
        margin-top: 30px;
        margin-left: 5px;
    }
    .first-select input {
        padding: 10px 4px 10px 5px;
     
    
    }
    .first-main {
        margin-left: 5px;
    }
    .second-select input {
        padding: 10px 4px 10px 5px;
    
    }
    .second-select select {
        padding: 10px 120px 10px 5px;
        margin-left: 5px;
       
    }
    .last-select select {
        padding: 10px 220px 10px 5px;
       
    }
    
    /* bmi calculator responsive start here */


}